.card{
    margin: 10px;
}

.card.comment-1{
    margin-left: 50px;
}
.card.comment-2{
    margin-left: 100px;
}
.card.comment-3{
    margin-left: 150px;
}
.card.comment-4{
    margin-left: 200px;
}
.card.comment-5{
    margin-left: 250px;
}
.card.comment-6{
    margin-left: 300px;
}
.card.comment-7{
    margin-left: 350px;
}
.card.comment-8{
    margin-left: 400px;
}
.card.comment-9{
    margin-left: 450px;
}
.card.comment-10{
    margin-left: 500px;
}
.card.comment-11{
    margin-left: 550px;
}
.card.comment-12{
    margin-left: 600px;
}
.card.comment-13{
    margin-left: 650px;
}